Repository BrianPugh/tamp: changes, and which pre-commit hooks are due for each by the changed paths.
All: wasm-eslint, wasm-npm-test, typescript-check, package-json-lint

wasm-eslint:
  name: WASM ESLint
  entry: bash
  args:
  - -c
  - cd wasm && npm run lint
  language: system
  pass_filenames: false

wasm-npm-test:
  name: WASM npm test
  entry: bash
  args:
  - -c
  - cd wasm && npm test
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript definitions check
  entry: bash
  args:
  - -c
  - cd wasm && npx tsc --noEmit --skipLibCheck src/*.d.ts
  language: system
  pass_filenames: false

package-json-lint:
  name: package.json validation
  entry: bash
  args:
  - -c
  - cd wasm && npm pkg fix
  language: system
  pass_filenames: false

wasm: remove debug logging and fix memory leak in stream helpers
  wasm/src/streams.js
  wasm/src/tamp.js
  wasm/test/streams-test.js
Due: wasm-eslint, wasm-npm-test

wasm: dynamic struct sizes, validation, and decompressor abort support
  wasm/Makefile
  wasm/src/sizeof.c
  wasm/src/tamp.d.ts
  wasm/src/tamp.js
Due: wasm-eslint, wasm-npm-test, typescript-check

migrate ci to npmjs trusted publishers.
  .github/workflows/javascript.yaml
  CLAUDE.md
Due: none

js: improve error message for use-after-destroy
  wasm/src/tamp.js
  wasm/test/basic-test.js
Due: wasm-eslint, wasm-npm-test

add TampCompressOptions typescript interface
  wasm/src/tamp.d.ts
Due: wasm-npm-test, typescript-check

build arm wheels natively (not emulated). Only build ppc64le on tags.
  .github/workflows/build_wheels.yaml
Due: none

more ci tweaks
  .github/workflows/build_wheels.yaml
  .github/workflows/esp_upload_component.yml
  .github/workflows/javascript.yaml
  .github/workflows/mpy_native_module.yaml
  .github/workflows/tests.yaml
Due: none

Make CLI integrity test parallel
  .github/workflows/tests.yaml
Due: none

faster find_best_match on embedded; slower on desktop (fine).
  tamp/_c_src/tamp/compressor.c
Due: none

optimize find_best_match for embedded targets.
  tamp/_c_src/tamp/compressor.c
Due: none

desktop-optimized compressor (2-3x faster).
  README.md
  tamp/_c_src/tamp/compressor.c
  tamp/_c_src/tamp/compressor_find_match_desktop.c
Due: none

reproduce micropython deflate benchmark numbers.
  Makefile
  README.md
  tools/on-device-deflate-compression-benchmark.py
  tools/on-device-deflate-decompression-benchmark.py
Due: none

common stream readers/writers
  .pre-commit-config.yaml
  tamp/_c_src/tamp/common.c
  tamp/_c_src/tamp/common.h
Due: none

BREAKING: Add window_bits parameter to tamp_decompressor_init.
  README.md
  ctests/test_decompressor.c
  docs/source/c_library.rst
  mpy_bindings/bindings.c
  tamp/_c_decompressor.pyx
  tamp/_c_src/tamp/decompressor.c
  tamp/_c_src/tamp/decompressor.h
  tamp/ctamp.pxd
  tools/c-profiler/main.c
  tools/pi_pico/benchmark/main.c
  wasm/package-lock.json
  wasm/src/tamp.js
Due: wasm-eslint, wasm-npm-test

C decompressor stream interface
  tamp/_c_src/tamp/decompressor.c
  tamp/_c_src/tamp/decompressor.h
Due: none

tamp_compress_stream implementation
  tamp/_c_src/tamp/compressor.c
  tamp/_c_src/tamp/compressor.h
Due: none

stream tests; rename some stuff
  CLAUDE.md
  Makefile
  README.md
  ctests/fatfs_ramdisk.c
  ctests/fatfs_ramdisk.h
  ctests/lfs_rambd.c
  ctests/lfs_rambd.h
  ctests/test_runner.c
  ctests/test_stream.c
  ctests/test_stream_filesystems.c
  tamp/_c_src/tamp/common.c
  tamp/_c_src/tamp/common.h
  tamp/_c_src/tamp/compressor.c
  tamp/_c_src/tamp/compressor.h
  tamp/_c_src/tamp/decompressor.c
  tamp/_c_src/tamp/decompressor.h
  tools/benchmark_stream.c
Due: none

C stream API documentation.
  docs/source/c_library.rst
Due: none

fix import order.
  ctests/fatfs_ramdisk.c
  docs/source/c_library.rst
Due: none

use memcpy in desktop find_match implementation to avoid unaligned-access errors
  tamp/_c_src/tamp/compressor_find_match_desktop.c
Due: none

explicitly test the embedded best_pattern_match in CI.
  .github/workflows/tests.yaml
  Makefile
  build.py
  tamp/_c_src/tamp/compressor.c
Due: none

update benchmark results
  README.md
  tools/pi_pico/benchmark/CMakeLists.txt
Due: none

don't rebuild when publishing.
  .github/workflows/javascript.yaml
Due: none

consolidate some of the manual javascript tests into benchmark.js
  wasm/benchmark.js
  wasm/compress-enwik8-oneshot.js
  wasm/compress-enwik8.js
  wasm/decompress-enwik8-oneshot.js
  wasm/package.json
Due: wasm-npm-test, package-json-lint

Use bulk memory transfers for WASM data copying. 1.8x faster decompression; 1.03x faster compression.
  wasm/Makefile
  wasm/src/tamp.js
Due: wasm-eslint, wasm-npm-test

js: Fix memory leak on dictionary size validation error
  wasm/src/tamp.js
Due: wasm-eslint, wasm-npm-test

remove dead code
  wasm/src/tamp.js
Due: wasm-eslint, wasm-npm-test

Simplify js build setup with tsup
  .github/workflows/javascript.yaml
  wasm/package-lock.json
  wasm/package.json
  wasm/scripts/build.js
  wasm/src/index.d.ts
  wasm/src/streams.d.ts
  wasm/tsup.config.js
Due: wasm-npm-test, typescript-check, package-json-lint

Refactor website JS to use addEventListener instead of inline handlers
  website/index.html
  website/js/main.js
  website/package-lock.json
Due: none

website: add option to upload/download compressed text.
  website/index.html
  website/js/main.js
Due: none

split the CLI CI testing into 2 jobs to go faster.
  .github/workflows/tests.yaml
Due: none

reduce dependencies installed for CLI Integrity test.
  .github/workflows/tests.yaml
Due: none

cleanup the esp-component workflow a bit
  .github/workflows/esp_upload_component.yml
  espidf/tamp/Makefile
Due: none

Add manual dispatch option to javascript job
  .github/workflows/javascript.yaml
Due: none

update to node 24
  .github/workflows/javascript.yaml
Due: none

Don't compress twice.
  .github/workflows/tests.yaml
Due: none

remove black from .pre-commit-config.
  .pre-commit-config.yaml
Due: none

Path conditions:
  wasm-eslint: any of: ^wasm/(src|test)/.*\.(js|mjs)$, but not: ^(poetry.lock|package-lock.json|.idea/|.belay/)
  wasm-npm-test: any of: ^wasm/(src/.*\.(js|ts|mjs)|test/.*\.js|package\.json)$, but not: ^(poetry.lock|package-lock.json|.idea/|.belay/)
  typescript-check: any of: ^wasm/src/.*\.d\.ts$, but not: ^(poetry.lock|package-lock.json|.idea/|.belay/)
  package-json-lint: any of: ^wasm/package\.json$, but not: ^(poetry.lock|package-lock.json|.idea/|.belay/)
